body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.head {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #bf0808;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#stop {
  font-size: 38px;
  text-align: center;
  color: red;
}

.head h1 {
  font-size: 20px;
  color: red;
  flex: 1;
  text-align: center;
}

.departure-component {
  background-color: #1e1e1e;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.departure-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #232323;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.departure-card h1 {
  font-size: 24px;
  color: #ffffff;
  flex: 1;
  text-align: center;
}

.departure-card #line {
  font-weight: bold;
  color: red;
  font-size: 24px;
}

.departure-card #terminal,
.departure-card #platform {
  color: #ffffff;
  font-size: 24px;
}

.departure-card #arrival {
  font-weight: bold;
  color: red;
  font-size: 24px;
}

footer {
  text-align: center;
  font-size: 24px;
  margin: 25px 0 10px 0;
}

a {
  color: red;
  text-decoration: none;
}

@media (max-width: 768px) {
  #stop {
    font-size: 24px;
  }

  .head h1 {
    font-size: 16px;
  }

  .departure-card h1,
  .departure-card #line,
  .departure-card #terminal,
  .departure-card #platform,
  .departure-card #arrival {
    font-size: 16px;
  }

  .departure-component {
    padding: 10px;
    margin: 10px 0;
  }

  footer {
    font-size: 16px;
  }
}
